.weeks-row {
    -fx-padding: 2 0 6 0;
}

.week-arrow {
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-padding: 6 10 6 10;
}
.week-arrow:hover { -fx-cursor: hand; }

.week-pill {
    -fx-background-color: #2f333a;
    -fx-text-fill: #e9eaed;
    -fx-background-radius: 18;
    -fx-padding: 8 14 8 14;
    -fx-font-size: 12px;
}

.week-pill-active {
    -fx-background-color: white;
    -fx-border-color: #d5d7db;
    -fx-border-radius: 18;
    -fx-text-fill: #1877d2;
    -fx-font-weight: 700;
}


.filters-row {
    -fx-padding: 0 0 6 0;
}

.filter-label {
    -fx-font-size: 18px;
    -fx-font-weight: 700;
    -fx-text-fill: #2a2a2a;
}

.filter-combo {
    -fx-background-radius: 18;
    -fx-border-radius: 18;
}

.days-header {
    -fx-padding: 0;
}

.day-title {
    -fx-font-size: 20px;
    -fx-font-weight: 500;
    -fx-alignment: center;
}

.planning-grid {
    -fx-background-color: white;
    -fx-border-color: #dfe1e6;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10;
}

.planning-cell {
    -fx-border-color: #cfd3da;
    -fx-border-width: 0 1 0 0;
    -fx-min-height: 60px;
}

.planning-scroll {
    -fx-background-color: transparent;
}

.time-label {
    -fx-alignment: center-right;
    -fx-padding: 0 12 0 0;
    -fx-text-fill: #7b7f87;
}

.nav-item-selected {
    -fx-background-color: #d7effc;
}

.nav-text-selected {
    -fx-text-fill: #1877d2;   /* bleu */
    -fx-font-weight: 700;
    -fx-opacity: 1.0;
}

.nav-icon-selected {
    -fx-text-fill: #1877d2;
    -fx-opacity: 1.0;
}

.filters-row {
    -fx-padding: 10 0 10 0;
}

.filter-button{
    -fx-min-width: 120px;
    -fx-alignment: CENTER;
}