.sidebar {
    -fx-background-color: white;
    -fx-border-color: #e6e7ea;
    -fx-border-width: 0 1 0 0;
}

.sidebar-header {
    -fx-padding: 22 18 18 18;
}

.sidebar-logo {
    -fx-font-size: 26px;
}

.sidebar-username {
    -fx-font-size: 20px;
    -fx-font-weight: 700;
}

.sidebar-sep {
    -fx-padding: 0 0 8 0;
}

.sidebar-menu {
    -fx-padding: 14 12 12 12;
}

/* --- LE CONTENEUR (HBOX) --- */
.nav-item {
    -fx-padding: 12 14 12 14;
    -fx-background-radius: 14;
    -fx-cursor: hand;
}

.nav-item:hover {
    -fx-background-color: #f2f4f7;
}

.nav-item-selected {
    -fx-background-color: #d7effc;
}

/* --- LE TEXTE (LABEL) --- */
.nav-text {
    -fx-font-size: 16px;
    -fx-opacity: 0.85;
    -fx-text-fill: #333333;
}

.nav-text-selected {
    -fx-opacity: 1.0;
    -fx-font-weight: 700;
    -fx-text-fill: #1877d2;
}

/* --- L'ICONE (SVGPATH) --- */
.nav-icon {
    -fx-scale-shape: true;
    -fx-fill: #9CA3AF; /* Gris par défaut */
}

.nav-item:hover .nav-icon {
    -fx-fill: #333333; /* Gris foncé au survol */
}

.nav-icon-selected {
    -fx-fill: #1877d2; /* Bleu quand sélectionné */
}